.accordion-category-header {
  cursor: pointer;
}

.accordion-header {
  /* display: none; */
  padding: 10px;
  /* background-color: #f5f5f5; */
  cursor: pointer;
}

.accordion-header.open {
  display: block;
}

.accordion-content {
  display: none;
  padding: 10px;
}

.accordion-content.open {
  display: block;
}
